<div class="table" >
  <!-- <div class="img-wrap">
    <img class="card-img-top" src="https://th.bing.com/th/id/R.fb42b9e7b14c4aace30d92a3acaf3a2f?rik=tyTv0PRcT5fOJA&riu=http%3a%2f%2f4vector.com%2fi%2ffree-vector-book-vector_004879_4+.jpg&ehk=74OhoRS14L7UtEylCG0QcKZdq8X%2fiOnh%2fihXo%2fKkxP0%3d&risl=&pid=ImgRaw&r=0">

    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa-solid fa-address-book"></i></button>
      </li>
    </ul>
      
  </div> -->

  <div class="table-body p-0" >
    <h3>
      {{book.Name}}
    </h3>

    <!-- <h6>
      {{book.Rating}}
    </h6>-->
    <h6>
      {{book.Author}}
    </h6> 
    <h6>
      {{book.Genre}}
    </h6>
     <!--
    <h6>
      {{book.Is_Book_Available}}
    </h6>
    <h6>
      {{book.Description}}
    </h6>
    <h6>
      {{book.Lent_By_User_Id}}
    </h6>
    <h6>
      {{book.Currently_Borrowed_By_User_Id}}
    </h6> -->
  </div>
</div>